<!DOCTYPE html>
<html>
<head>
  <title>Email Already Exists</title>
</head>
<body>
  <h1>Subscriber Update Failed</h1>
  <p>A subscriber with the provided email already exists. Please choose a different email.</p>
  <a href='/edit/<%= subscriber.id %>'>Go back to editing subscriber</a>
  
</body>
</html>



